/* *{
    outline: 1px solid red;
} */

main{
    padding-bottom: 25rem;
}

.background{
    background-color: #474747;
}
#lst-btn{
    margin-top: 43px;
    background-color: gray;
}
.h-f{
    background-color: rgb(80, 34, 34);
    color: aliceblue;
}
.Red-card{
    background-color: #b80000;
}
.Yellow-card{
    background-color: #ffff81;
}
.Green-card{
    background-color: green;
}
.check-box{
    height: 1rem;
    border-radius: 25%;
    background-color: aliceblue;
    color: black;
}